<h1>Kittens#index</h1>

<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten %>
      <%= button_to 'Delete', kitten, method: :delete, data: { turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
